
  <footer>
    <div class="wrapper">
      <div class="cell">
        <img class="logo" src="src/img/logo.svg" />
        <p class="muted">
          Copyright 2015
          Ryan Gaus and Contributors
        </p>
      </div>
      <ul>
        <li class="title">Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
      <ul>
        <li class="title">Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
      <ul>
        <li class="title">Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
        <li>Lorem Ipsum</li>
      </ul>
    </div>
  </footer>

  </body>
</html>
