
  <footer>
    <div class="wrapper">
      <div class="cell">
        <img class="logo" src="/src/img/logo.svg" />
        <p class="muted">
          Copyright 2015
          Ryan Gaus and Contributors
        </p>
      </div>
      <ul>
        <li class="title">Information</li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul>
        <li class="title">Documentation</li>
        <li><a href="/docs">Home</a></li>
        <li><a href="/docs/block-api">Block API Reference</a></li>
        <li><a href="/docs/code-examples">Code Examples</a></li>
        <li><a href="/docs/variables">Environment Variables</a></li>
        <li><a href="/docs/newthing">Add a New Thing</a></li>
        <li><a href="/docs/permissions">Permissions</a></li>
      </ul>
      <ul>
        <li class="title">Code</li>
        <li><a href="//github.com/queapp">Github</a></li>
        <li><a href="//rgaus.net">rgaus.net</a></li>
      </ul>
    </div>
  </footer>

  </body>
</html>
