// bootstrap
@import "../bootstrap/less/bootstrap.less";

// variables
@section-background: #FFF;

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

.hero-image {
  background: #ADD8E6;
  padding-bottom: 64px;
}

// navbar
.navbar-que-web {
  .navbar-default;

  // make it transparent
  background: transparent;
  border-color: transparent;

  // cnage navbar colors
  .navbar-brand, .navbar-nav li a {
    color: #FFF;
  }

  // navbar nav links on right
  ul.navbar-nav {
    li {
      &.active {
        font-weight: bold;
        a { 
          color: @gray-lighter;
          background-color: transparent; 
        }
        a:hover { background-color: transparent; }
      }
      a:hover { 
        color: @gray-light;
        background-color: transparent; 
      }
    }
  }
}

// all hero jumbotrons should be transparent
.jumbotron { 
  background: transparent; 
  color: #FFF;

  .right {
    .make-md-column(12);
    margin-top: 24px;

    h1, p { text-align: center; }
  }
}

// section of content
section {
  .container;
  background-color: @section-background;
  padding-top: 20px;
  padding-bottom: 20px;

  &:first-child {
    padding-bottom: 0px;
  }

  // section header
  h1 {
    text-align: center;
    font-size: @font-size-base * 2.8;
    padding-bottom: 12px;
  }

  h2 {
    text-align: center;
    font-size: @font-size-base * 2.3;
    padding-bottom: 8px;
  }

  p {
    font-size: @font-size-base * 1.15;
    &>span {
      font-weight: bold;
    }
  }
}